<div class="shadow-sm p-3 mb-5 bg-white rounded jumbotron jumbotron-fluid">
  <div class="container">
    <div class="pic-mask">
      <img src="assets/images/DSC_0371.jpg" class=" pic-img" alt="this is me">
    </div>
    <hr class="my-1">
    <h1 class="display-4">Hello, World!</h1>
    <p class="lead">My name is Saïd Rahmi.
      I'm a freelance Full-stack developer living and working in Paris, FR. I focus on Java development and the
      technologies around it: JEE specification and frameworks like Spring and Hibernate.</p>
  </div>
</div>
