.pic-mask {
  min-width: 90px;
  max-width: 300px;
  width: 20%;
  border-radius: 50%;
  margin: 1em auto 3em;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.pic-img {
  /*display: block;*/
  width: 100%;
  height: auto;
}

.jumbotron {
  position: relative;
}

#buttonmenu {
  position: absolute;
  top: 17px;
  right: 17px;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}
