.pic-mask {
  min-width: 90px;
  max-width: 300px;
  width: 20%;
  border-radius: 50%;
  margin: 1em auto 3em;
  overflow: hidden;
}

.pic-img {
  /*display: block;*/
  width: 100%;
  height: auto;
}

.jumbotron {position:relative;}
#buttonmenu {position:absolute; top:5px; right:5px;}
