<div class="timeline ">

  <div *ngFor="let experience of experiences">
    <div [ngClass]=" isLeft() ? 'timeline-container left' : 'timeline-container right'">
      <div class="content">
        <h2>{{experience.client}}</h2>
        <p class="font-weight-light">{{experience.title}}<br>
          <small>{{experience.from}} - {{experience.to}}</small>
        </p>
        <span *ngFor="let tech of experience.technologies" class="badge badge-pill badge-dark mx-1">{{tech}}</span>
      </div>
    </div>
  </div>
</div>
